@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: inline-block;
}

.header__container {
  max-width: 1440px;
  padding: 28px 130px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
  border-radius: 0;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #003459;
}

.site-header__list-block {
  max-width: 366px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 48px;
}

.header__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #99A2A5;
  border: none;
  padding: 12px 59px 12px 16px;
  background: #FDFDFD;
  border-radius: 46px;
}

.header__btn {
  width: 203px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 28px 10px;
  background: #003459;
  border-radius: 57px;
  border: none;
}

.btn__link {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #FDFDFD;
}

.site-header__select {
  border: none;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
  border-radius: 0;
}

.meny_img {
  display: none;
}

.vector__img {
  display: none;
}

@media screen and (max-width: 1350px) {
  .site-header__list-block {
    display: none;
  }
  .header__container {
    padding: 25px 90px;
  }
}
@media screen and (max-width: 880px) {
  .header__container {
    padding: 47px 50px 37px 51px;
  }
  .site-header__list-block {
    display: none;
  }
  .site-header__input {
    display: none;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__selection {
    display: none;
  }
  .meny_img {
    display: inline-block;
  }
  .vector__img {
    display: inline-block;
  }
}
@media screen and (max-width: 420px) {
  .header__container {
    padding: 13px 12px 8px 10px;
  }
  .site-header__list-block {
    display: none;
  }
  .site-header__input {
    display: none;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__selection {
    display: none;
  }
  .meny_img {
    display: inline-block;
  }
  .vector__img {
    display: inline-block;
  }
}
.hero__container {
  max-width: 1440px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.site__left-title {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../img/Rectangle3_bgi.png);
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002A48;
  margin-bottom: 4px;
}

.site-left__blcok {
  padding: 81px 60px 105px 110px;
}

.site__left-title2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002A48;
  margin-bottom: 24px;
}

.site__left-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242B33;
  margin-bottom: 34px;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 28px 10px;
  gap: 8px;
  border: 1.5px solid #003459;
  border-radius: 57px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.site__left-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 28px 10px;
  width: 163px;
  background: #003459;
  border-radius: 57px;
  border: none;
  margin-left: 15px;
}

.btn__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #003459;
}

.site__left-subtitle {
  max-width: 480px;
}

.site-hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-right__block {
  max-width: 845px;
}

.site-right__img-block {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/Group____1.png);
  background-position-x: left;
  padding-top: 0;
}

.explore__btn-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
}

.site-right__img-block2 {
  display: none;
}

@media screen and (max-width: 1150px) {
  .site-hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-left__blcok {
    padding: 0;
  }
  .site__left-title2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    color: #002A48;
    margin-bottom: 24px;
  }
  .site__left-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    color: #002A48;
  }
  .site__left-title2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-transform: capitalize;
    color: #002A48;
    margin-bottom: 12px;
  }
  .site__left-subtitle {
    max-width: 382px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242B33;
    margin-bottom: 32px;
  }
  .intro__btn {
    width: 161px;
    padding: 0;
  }
  .explore__btn {
    width: 163px;
  }
  .site__left-btn-block {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 540px) {
  .site__left-title {
    background-image: none;
  }
  .site-hero__block {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-right__img-block {
    display: none;
  }
  .site-right__img-block2 {
    content: "";
    display: inline-block;
  }
  .site-right__img-block {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/bgi_cub_2.svg);
    background-position-x: left;
    padding-top: 0;
  }
  .site__left-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #002A48;
  }
  .site__left-title2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    text-transform: capitalize;
    color: #002A48;
  }
  .site__left-subtitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #242B33;
  }
}
.list-dog__container {
  padding: 60px 130px 60px 138px;
}

.list-dog__top p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000000;
}

.list-dog__top h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: capitalize;
  color: #003459;
}

.list-dog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 28px;
  width: 151px;
  border: 1.5px solid #003459;
  border-radius: 57px;
  background-color: #fff;
}

.dog-btn__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #003459;
}

.list-dog__top {
  margin-bottom: 28px;
}

.dog__item {
  max-width: 280px;
  padding: 8px 8px 20px 8px;
  background: #FDFDFD;
  -webkit-box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.dog__img1 {
  margin-bottom: 8px;
}

.dog__top-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
}

.dog__center-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}

.dog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.list-dog__button-btn {
  display: none;
}

@media screen and (max-width: 1120px) {
  .list-dog__container {
    padding: 60px 132px;
  }
  .dog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .list-dog__left-title > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #000000;
  }
  .list-dog__left-title > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-transform: capitalize;
    color: #003459;
  }
}
@media screen and (max-width: 840px) {
  .list-dog__left-btn {
    display: none;
  }
  .list-dog__left-title > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #000000;
  }
  .list-dog__left-title > h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-transform: capitalize;
    color: #003459;
  }
  .list-dog__container {
    padding: 60px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dog__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-dog__button-btn {
    margin-top: 16px;
    display: inline-block;
  }
  .dog__btn {
    max-width: 240px;
    width: 240px;
  }
}
.more-friend {
  padding: 0 130px;
}

.more-friend__block {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/Banner.svg);
  border-radius: 20px;
}

.more-friend__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-friend_right-block > h2 {
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
  margin-bottom: 2px;
}

.more-friend_right-block > h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #003459;
  margin-bottom: 8px;
}

.more-friend_right-block > p {
  max-width: 395px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #242B33;
  margin-bottom: 24px;
}

.more-friend_right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-friend_right-block {
  padding-left: 139px;
  padding-top: 44px;
  padding-right: 50px;
}

.more-friend__block2 {
  display: none;
}

.more-friend_left-block2 {
  display: none;
}

@media screen and (max-width: 1380px) {
  .more-friend_right-block {
    padding-left: 20px;
    padding-top: 44px;
    padding-right: 50px;
  }
  .more-friend_right-block > h2 {
    font-weight: 800;
    font-size: 37px;
    line-height: 38px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 2px;
  }
  .more-friend_right-block > h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 8px;
  }
  .more-friend_right-block > p {
    max-width: 450px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
  }
  .more-friend__block {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .more-friend_right-btn {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .more-friend {
    padding: 0px;
  }
  .more-friend_left-block {
    display: none;
  }
  .more-friend_left-block2 {
    display: inline-block;
  }
  .more-friend_right-block > h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 8px;
  }
  .more-friend_right-block > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 14px;
  }
  .more-friend_right-block > p {
    max-width: 450px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1ypx;
    text-align: right;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
  }
}
@media screen and (max-width: 670px) {
  .list-dog2 {
    display: none;
  }
}
.dog__top-btn-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCEED5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.dog__top-btn-sm > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #002A48;
  margin-left: 15px;
}

.sellers__container {
  padding: 40px 130px;
}

.pet__sellers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pet__sellers > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000000;
  margin-right: 8px;
}

.sellers__block {
  margin-bottom: 15px;
}

.pet__sellers > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}

.sellers-top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sellers__btn {
  width: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 28px;
  gap: 8px;
  border: 1.5px solid #003459;
  border-radius: 57px;
  cursor: pointer;
  background-color: #fff;
}

.sellers__btn > a {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #003459;
}

@media screen and (max-width: 1390px) {
  .sellers {
    display: none;
  }
}
.sellers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sellers__item + .sellers__item {
  margin-left: 20px;
}

.adoption__container {
  padding: 0 130px;
}

.adoption__block2 {
  padding: 0;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/Banner2222.svg);
}

.adoption__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-friend_right-block > h2 {
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
}

.more-friend_right-block > h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  text-transform: capitalize;
  color: #003459;
}

@media screen and (max-width: 1383px) {
  .adoption {
    display: none;
  }
}
.useful__container {
  padding: 60px 130px;
}

.useful__item > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2px 10px;
  gap: 10px;
  width: 89px;
  height: 20px;
  background: #00A7E7;
  border-radius: 28px;
  border: none;
  margin-top: 16px;
  margin-bottom: 10px;
}

.useful__item > button > a {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FDFDFD;
}

.useful__item {
  max-width: 380px;
  padding: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.useful_title {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #00171F;
  margin-bottom: 6px;
}

.useful__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #242B33;
}

.useful__list {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .useful {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */